body {
  flex-grow: 4; /* default 0 */;
}

.heading {
  text-align: center;
  color: #1ABC9C;
}

.subtext {
  text-align: center;
  color: red;
}

.heading i {
  color: #1DA1F2;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: blue;
 }

.content-creators {
  align-items: center;
  text-align: center;
}


