.heading {
  text-align: center;
  color: #1ABC9C;
}

.subtext {
  text-align: center;
  color: red;
}

 a, a:hover, a:focus, a:active {
      text-align: center;
      text-decoration: none;
      color: blue;
 }
  
