.heading {
  text-align: center;
  color: #1ABC9C;
}

.heading i {
  color: #1DA1F2;
}

.subtext {
  text-align: center;
  color: red;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: blue;
 }

.content-creators {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
